# Database URL for connection via pooling
DATABASE_URL=""

# Direct URL for migration
DIRECT_URL=""

# Better Auth Secret (Use at least 32 characters)
BETTER_AUTH_SECRET=""

# Better Auth Base URL (for example localhost for dev)
BETTER_AUTH_URL=http://localhost:3000

# Public Supabase URL
NEXT_PUBLIC_SUPABASE_URL=

# Service Role Key for Supabase
SUPABASE_SERVICE_ROLE_KEY=